Repository ViaQ/vector, pull requests merged in 2022-09, with the labels that each got.

#109 Enable Splunk sink feature
  Cargo.toml
Labels: lgtm

#112 LOG-2552: Add aws sigv4 0.15 to vector 0.23
  Cargo.lock
  Cargo.toml
  patch/aws-sigv4/.cargo-checksum.json
  patch/aws-sigv4/Cargo.toml
  patch/aws-sigv4/LICENSE
  patch/aws-sigv4/README.md
  patch/aws-sigv4/src/date_time.rs
  patch/aws-sigv4/src/event_stream.rs
  patch/aws-sigv4/src/http_request/canonical_request.rs
  patch/aws-sigv4/src/http_request/mod.rs
  patch/aws-sigv4/src/http_request/query_writer.rs
  patch/aws-sigv4/src/http_request/settings.rs
  patch/aws-sigv4/src/http_request/sign.rs
  patch/aws-sigv4/src/http_request/test.rs
  patch/aws-sigv4/src/http_request/url_escape.rs
  patch/aws-sigv4/src/lib.rs
  patch/aws-sigv4/src/sign.rs
Labels: lgtm, approved

#113 Prepare v0.23-rh Image
  .dockerignore
  .github/dependabot.yml
  8.7-compose.repo
  Cargo.toml
  Dockerfile.unit
  deny.toml
  src/config/watcher.rs
  src/sinks/gcp/mod.rs
  src/tls/settings.rs
Labels: lgtm, approved, domain: sinks

#114 Add throttle transform for Logs Flow Control
  Cargo.toml
Labels: lgtm, approved
