Repository ViaQ/vector, pull requests merged in 2022-10, with the labels that each got.

#116 LOG-3122: In Vector, add tracing of the negotiated cipher suite for TLS connections
  Cargo.toml
  patch/hyper-openssl/.cargo-checksum.json
  patch/hyper-openssl/CHANGELOG.md
  patch/hyper-openssl/Cargo.toml
  patch/hyper-openssl/LICENSE-APACHE
  patch/hyper-openssl/LICENSE-MIT
  patch/hyper-openssl/README.md
  patch/hyper-openssl/build.rs
  patch/hyper-openssl/src/cache.rs
  patch/hyper-openssl/src/lib.rs
  patch/hyper-openssl/src/test.rs
Labels: lgtm

#115 Dockerfile fixes to build with Rust 1.61
  Dockerfile
  Dockerfile.unit
Labels: lgtm

#119 LOG-3160: Vector metrics does not support TLS v1.3 with minTLS version set to 1.2
  Cargo.lock
  src/config/watcher.rs
  src/tls/incoming.rs
Labels: approved

#126 LOG-902: Add http sink to ocp-logging target
  Cargo.toml
Labels: lgtm, approved

#125 Added the throttle transform to the ocp-logging feature set
  Cargo.toml
Labels: lgtm
