Repository ViaQ/vector, pull requests merged in 2023-11, with the labels that each got.

#161 LOG-4768: Logging 5.8.0 vector pods going into the Crashloopbackoff state on IBM Power
  Makefile
Labels: lgtm, approved, release/5.8, jira/valid-reference

#162 LOG-4768: [release-5.9] Logging 5.8.0 vector pods going into the Crashloopbackoff state on IBM Power
  Makefile
Labels: lgtm, approved, jira/valid-reference

#160 Update to upstream vector v0.33.1
  .github/CODEOWNERS
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  Cargo.lock
  Cargo.toml
  config/vector.yaml
  distribution/install.sh
  lib/dnsmsg-parser/src/dns_message_parser.rs
  lib/vector-api-client/Cargo.toml
  license-tool.toml
  regression/cases/syslog_regex_logs2metric_ddmetrics/vector/vector.toml
  scripts/verify-install.sh
  src/sinks/datadog/metrics/sink.rs
  src/sinks/kafka/service.rs
  src/sinks/kafka/sink.rs
  src/sinks/util/buffer/metrics/mod.rs
  src/sinks/util/buffer/metrics/sort.rs
  src/sinks/util/builder.rs
  website/assets/js/app.js
  website/assets/js/cookie-banner.js
  website/config.toml
  website/content/en/docs/reference/configuration/template-syntax.md
  website/content/en/docs/reference/configuration/tls.md
  website/content/en/docs/reference/configuration/unit-tests.md
  website/content/en/docs/setup/going-to-prod/hardening.md
  website/content/en/docs/setup/installation/platforms/kubernetes.md
  website/content/en/releases/0.33.1.md
  website/cue/reference/releases/0.33.0.cue
  website/cue/reference/releases/0.33.1.cue
  website/cue/reference/remap/functions.cue
  website/cue/reference/remap/functions/encode_key_value.cue
  website/cue/reference/remap/functions/encode_logfmt.cue
  website/cue/reference/remap/functions/log.cue
  website/cue/reference/remap/functions/match_array.cue
  website/cue/reference/remap/functions/match_datadog_query.cue
  website/cue/reference/remap/functions/parse_url.cue
  website/cue/reference/remap/functions/replace.cue
  website/cue/reference/remap/functions/set_semantic_meaning.cue
  website/cue/reference/versions.cue
  website/layouts/download/section.html
  website/layouts/partials/meta.html
Labels: lgtm, approved, release/5.9

#163 Add tar to be able to copy files out of image
  Dockerfile
Labels: lgtm, approved, release/5.9

#166 Revert "LOG-4739: Enhance Vector kubernetes_logs to support include_paths_glob_patterns"
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
Labels: lgtm, approved, jira/valid-reference

#167 [release-5.9] LOG-4739: Enhance Vector kubernetes_logs to support include_paths_glob_patterns
  src/sources/kubernetes_logs/k8s_paths_provider.rs
  src/sources/kubernetes_logs/mod.rs
Labels: lgtm, approved, jira/valid-reference, release/5.9

#168 Build the release-5.8 branch with Rust 1.71.1 to match the downstream
  Dockerfile
  Dockerfile.in
  Dockerfile.unit
  lib/datadog/search-syntax/src/grammar.rs
  lib/vector-core/src/tls/incoming.rs
  rust-toolchain.toml
Labels: lgtm, approved
