Repository ViaQ/vector, pull requests merged in 2023-07, with the labels that each got.

#148 Removed gh workflows
  .github/dependabot.yml
  .github/workflows/baseline.yml
  .github/workflows/environment.yml
  .github/workflows/gardener_open_issue.yml
  .github/workflows/gardener_open_pr.yml
  .github/workflows/install-sh.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/regression.yml
  .github/workflows/regression_trusted.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: lgtm, approved

#147 [release-5.8] Enable php multiline using vector
  src/transforms/detect_exceptions/mod.rs
  src/transforms/detect_exceptions/rules.rs
Labels: lgtm, approved, domain: transforms, release/5.8

#144 LOG-4275: [release-5.7] Vector pods going into a panic state
  Tiltfile
  src/kubernetes/reflector.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
Labels: approved, domain: sources, jira/valid-reference

#145 LOG-4276: [release-5.6] Vector pods going into a panic state
  Tiltfile
  src/kubernetes/reflector.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
Labels: approved, domain: sources, jira/valid-reference

#146 LOG-4279: [release-5.5] Vector pods going into a panic state
  Tiltfile
  src/kubernetes/reflector.rs
  src/sources/kubernetes_logs/k8s_paths_provider.rs
Labels: approved, domain: sources, jira/valid-reference
