Repository ViaQ/vector, pull requests merged in 2024-10, with the labels that each got.

#183 LOG-6155: modify multiline detect exception transform to config message_key
  Makefile
  src/transforms/detect_exceptions/exception_detector.rs
  src/transforms/detect_exceptions/mod.rs
Labels: lgtm, approved, jira/valid-reference, release/6.1

#184 LOG-6237:syslog.enrichment: KubernetesMinimal should be reflected only to container logs
  lib/codecs/src/encoding/format/syslog.rs
Labels: lgtm, approved, jira/valid-reference

#186 LOG-6263: Allow configuration of paths when syslog.enrichment is set
  lib/codecs/src/encoding/format/syslog.rs
Labels: lgtm, approved, jira/valid-reference

#187 [NO-JIRA] Update OWNERS file
  OWNERS
Labels: lgtm, approved
