Repository ViaQ/vector, pull requests merged in 2025-01, with the labels that each got.

#188 LOG-5638: container meta should only be added to container logs
  lib/codecs/src/encoding/format/syslog.rs
Labels: lgtm, approved, jira/valid-reference, release/5.9

#194 Align file secret implementation with upstream
  src/secrets/file.rs
Labels: lgtm, approved

#193 Update OWNERS
  OWNERS
Labels: lgtm, approved, release/6.2
