Repository ViaQ/vector, pull requests merged in 2025-08, with the labels that each got.

#221 Enable AWS S3 sink in ocp-logging feature
  Cargo.toml
Labels: lgtm, approved, ok-to-test

#226 [v0.37.1]LOG-7436:buffer_id handling in buffer usage metrics reporting
  lib/vector-buffers/src/buffer_usage_data.rs
  lib/vector-buffers/src/internal_events.rs
Labels: lgtm, approved, jira/valid-reference, v0.37

#215 LOG-7168: align file secret implementation with upstream
  src/secrets/file.rs
  src/secrets/mod.rs
Labels: lgtm, approved, jira/valid-reference, v0.47
